#navbar2 {
    box-shadow: 0px 0px 0px 2px rgb(99, 80, 80);
}

#navbar-nav2 {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin-left: 100vh;
    /* align-items: center; */

}

.navbar-brand {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* section home */

#home {
    margin-top : 10vh;
}

.col-4 img {
    width: 25vh;
    height: 28vh;
    border-radius: 50%;
}

.col-8 button {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px whitesmoke;
}

/* #btn:hover {
    /* background-color : wheat ; */



.arrow {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top : 20vh;
    margin-bottom : 10vh;
}

/* .more-info {
    text-decoration: none;
    color : black;
} */

.arrow img {
    width: 3vh;
    margin-top : 5px;
    /* margin-bottom: -100px; */
}

.arrow img {
    animation : 1s updown infinite;
}

@keyframes updown {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        trasnform: translateX(0);
    }
}

section::before {
    z-index : -1;
    content: '';
    font-size: 70px;
    color : grey;
    opacity : 0.25;
    position :absolute;
    top : -15vh;
    left : -5vh;
    font-weight: 500;
}

.about-exp-item-detail {
    display: none;
}

.about::before {
    content: 'About';
}
section {
    position : relative;
}

.about {
    font-size : 40px;
    font-weight: bold;
    font-style: italic;
    /* text-align: center; */
    /* margin-top : 200px; */
}

.about p {
    font-size: 10px;
    text-align: left;
    font-weight: none;
}
.about-exp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 20px;

}

.about {
    margin : 0 100px;
}

.row-work {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 10vh;
}

.col-img img {
    width: 170px;
    margin : 5px 0;

}

.col-img img::after {

}
.work-img-item {
    position: relative;
}
.work-img-item:hover::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgb(0, 0, 0, 0.5);
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400px;
    font-size : 15px;
}
.btn-more-info {
    background-color: grey;
    color : white;
    font-size: 15px;
    border-radius: 20px;
    
}


.work::before {
    content: 'Work';
} 

.col-img {
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work3" ;
}

#work-1 {
    grid-area : work-1;
}
#work-1:hover::after {
    content: 'Software Engginering';
}
#work-2 {
    grid-area : work-2;
}
#work-2:hover::after {
    content: 'Network Engiinering';
}
#work-3 {
    grid-area : work-3;
}
#work-3:hover::after {
    content: 'Web Programming';
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 10px; */
    margin-top : 30vh;
    column-gap: 5px;
    margin-left : 100px;
    margin-bottom : 20vh;
    
}
.contact-container p {
    text-align: center;
    margin : 0 100px 0 100px;
}

.contact-img-item img {
    width: 20px;
    margin : 0 150px;
}
.contact-img-item p {
    text-align: center;
}

.contact-img-item {
    display: flex;
    margin-top : 40px;
}

.form-contact {
    border : 1px solid;
    width: 40vh;
    height: 45vh;
    /* column-gap: 50px; */
    /* justify-content: center;
    align-items: center; */
    box-shadow: 1px 1px 7px 2px rgb(99, 80, 80);
}

.contact {
    position : relative;
}
.contact::before{
    content: 'contact';
}
.form-detail {
    margin-right: 20%;
}

.form-detail-input {
    padding : 10px;
    margin : 0 20px;
    justify-content: center;
    align-items: center;
}
.btn-contact-form {
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
    margin-top : 10px;
}

.contact-img-item div a {
    text-decoration: none;
    color : black;
}


