#navbar2 {
    box-shadow: 0px 0px 0px 2px rgb(99, 80, 80);
}

#navbar-nav2 {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
    margin-left: 100vh;
    /* align-items: center; */

}

.navbar-brand {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* section home */

#home {
    margin-top : 10vh;
}

.col-4 img {
    width: 25vh;
    height: 28vh;
    border-radius: 50%;
}

.col-8 button {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 2px whitesmoke;
}

#btn:hover {
    background-color : wheat ;

}

.arrow {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top : 20vh;
    margin-bottom : 10vh;
}

.more-info {
    text-decoration: none;
    color : black;
}

.arrow img {
    width: 3vh;
    margin-top : 5px;
    /* margin-bottom: -100px; */
}

.arrow img {
    animation : 1s updown infinite;
}

@keyframes updown {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        trasnform: translateX(0);
    }
}

section::before {
    z-index : -1;
    content: '';
    font-size: 70px;
    color : grey;
    opacity : 0.25;
    position :absolute;
    top : -15vh;
    left : -5vh;
    font-weight: 500;
}

.about-exp-item-detail {
    display: none;
}

.about::before {
    content: 'About';
}
section {
    position : relative;
}

.about {
    font-size : 40px;
    font-weight: bold;
    font-style: italic;
    /* text-align: center; */
    /* margin-top : 200px; */
}

.about p {
    font-size: 10px;
    text-align: left;
    font-weight: none;
}
.about-exp-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 20px;

}

.about {
    margin : 0 50px;
}



